<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <script src="/function/Babel.js"></script>
    <script src="/function/React.js"></script>
    <script src="/function/ReactDOM.js"></script>
    <link rel="stylesheet" href="/PUBLIC/CSS/style.css">
    <link rel="shortcut icon" href="/PUBLIC/ASSETS/IMAGES/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <div class="container">
        <div class="formsDiv">
            <div class="leftContainer formContainer">
                <img src="/PUBLIC/ASSETS/IMAGES/form_images/signup.png" alt="login-img" /> 
            </div>
            <div class="rightContainer formContainer">
                <div class="formBox">
                    <form action="/api/auth/register" method="post">
                        <div class="formInputBox">
                            <input type="text" placeholder="Username" class='formInput' name="name" required/>
                            <i class="fa-solid fa-user formIcons"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="email" placeholder="Email Id" class='formInput' name="email" required/>
                            <i class="fa-solid fa-envelope formIcons"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="password" placeholder="Password" class='formInput' name="password" id="password" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon"></i>
                        </div>
                        <div class="formInputBox">
                            <input type="password" placeholder="Confirm Password" class='formInput' name="confirmPassword"id="confirmPassword" required/>
                            <i class="fa-solid fa-eye-slash formIcons" id="password-icon2"></i>
                        </div>
                        <div class="formInputBox roleSelector">
                            <select name="role" class="formInput" required>
                                <option value="" disabled selected>Select your role</option>
                                <option value="seller">Seller</option>
                                <option value="buyer">Buyer</option>
                                <option value="recruiter">Recruiter</option>
                                <option value="applicant">Applicant</option>
                            </select>
                            <i class="fa-solid fa-user-tag formIcons"></i>
                        </div>
                        <span id="error-msg" style="color: red;"><%= errorMsg %></span><br>
                        <button class='formButton'>Register</button>
                    </form>
                    
                </div>
                <div class="formText">
                    Already have an account? <a href="/api/auth/login"><span class='formLink'>Login</span></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const togglePassword = document.getElementById('password-icon');
        const password = document.getElementById('password');

        togglePassword.addEventListener('click', function (e) {
            let type = password.getAttribute('type');
            if (type === 'password') {
                password.setAttribute('type', 'text');
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            }else{
                password.setAttribute('type', 'password');
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        });

        const togglePassword2 = document.getElementById('password-icon2');
        const password2 = document.getElementById('confirmPassword');

        togglePassword2.addEventListener('click', function (e) {
            let type = password2.getAttribute('type');
            if (type === 'password') {
                password2.setAttribute('type', 'text');
                togglePassword2.classList.remove('fa-eye-slash');
                togglePassword2.classList.add('fa-eye');
            }else{
                password2.setAttribute('type', 'password');
                togglePassword2.classList.remove('fa-eye');
                togglePassword2.classList.add('fa-eye-slash');
            }
        });
      </script>
  </body>
</html>